{% extends "base.html" %}

{% block content %}


<h3>Список блюд</h3>
<div class="row gx-4 gy-5 mt-5 mb-5">
    {% for recipe in recipes %}
    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
            <img src="/static/img/{{ recipe.image_file }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.title }}</h5>
                <p class="card-text">Время: {{ recipe.cooking_time }} мин.</p>
                <a href="{{ url_for('recipe', id_dish=recipe.id) }}" class="btn btn-outline-warning">Посмотреть
                    рецепт</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}