{% extends "base.html" %}

{% block content %}
<div class="card_main">
    <div class="d-flex">
        <div class="main_card_1">
            <div class="flex-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Все блюда</h5>
                        <p class="card-text">Выбирайте понравившиеся вам блюда и готовьте по понятному рецепту.</p>
                        <a href="#" class="card-link">Ссылка карточки</a>
                        <a href="#" class="card-link">Другая ссылка</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_card_1">
            <div class="flex-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Найти блюда</h5>
                        <p class="card-text">Вы можете найти блюда исходя из имеющихся у вас продуктов.</p>
                        <a href="#" class="card-link">Ссылка карточки</a>
                        <a href="#" class="card-link">Другая ссылка</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}